/* General app background and font */
.stApp {
  background-color: #d7ccc8;  /* fondo beige claro */
  font-family: 'Arial', sans-serif;
}

/* Title */
.main-title {
  color: #4e342e; /* marrón oscuro */
  font-size: 2em;
  font-weight: bold;
  text-align: left;
  margin-bottom: 20px;
}

/* Contenedor de cada mensaje */
.message-row {
  display: flex;
  margin-bottom: 10px;
}

/* User message: derecha */
.user-message {
  background-color: #e0d6cc; /* beige ligeramente más claro que el fondo */
  padding: 10px 15px;
  border-radius: 20px;
  display: inline-block;
  max-width: 70%;
  width: auto;
  text-align: left;
  margin-left: auto;
  margin-right: 10px;
  word-wrap: break-word;
}

/* Assistant message: izquierda */
.assistant-message {
  background-color: #ece2de;
  padding: 10px 15px;
  border-radius: 20px;
  display: inline-block;
  max-width: 90%;
  width: auto;
  text-align: justify;
  margin-right: auto;
  margin-left: 0px;
  word-wrap: break-word;
}

/* Input text */
.stTextInput > div > div > input {
  background-color: #ece2de; 
  border-radius: 5px;
  padding: 10px;
  background-color: #f5f1ec; /* beige muy claro */
  color: #4e342e; /* texto marrón oscuro */
}

/* Imagen */
.image-container img.message-image {
    max-width: 200px;
    border-radius: 12px;
    margin-top: 5px;
    margin-bottom: 5px;
    box-shadow: 0 2px 6px rgba(0,0,0,0.2);
    display: block;
}
